<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text= "Atrás" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title text-capitalize>{{titulo}}</ion-title>
    
  
  </ion-toolbar>
  </ion-header>