<app-header titulo="Alert Page prueba" no-border></app-header>
  <ion-content class= 'ion-padding'>
    <ion-button expand="full" color="primary" (click)="presentAlert()">
  Alert
    </ion-button>
  </ion-content>
  