<ion-header>
  <ion-toolbar>
   
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Searchbar</ion-title>

  </ion-toolbar>
<ion-searchbar animated
                (ionChange)="search( $event)"
></ion-searchbar>
</ion-header>



<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
          <ion-label>Luisa Sierra</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Fernanda Pava</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Oscar Gonzalez</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Eduardo Adarve</ion-label>
        </ion-item>
      </ion-list>
      

</ion-content>
