<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"
        
        ></ion-back-button>
      </ion-buttons>
  
      <ion-title>checkbox</ion-title>
      
    </ion-toolbar>
  </ion-header>
  

<ion-content class= 'ion-padding'>
<!-- Checkboxes in a List -->
<ion-list>
    <ion-item *ngFor="let check of data"
    (click)="onClick(check)">

      <ion-label>{{check.name}}</ion-label>
      <ion-checkbox slot="end"
       [(ngModel)]="check.selected"
       [color]="check.name">
      </ion-checkbox>

    </ion-item>
  </ion-list>
</ion-content>
