<app-header titulo="Action-sheet prueba"></app-header>
  <ion-content class= 'ion-padding'>
    <ion-button color="primary" expand="full" (click)="presentActionSheet()">
    Action Sheet
    </ion-button>
 </ion-content>
  